@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
    <div class="container">
        <Title>TERRY SURFERS</Title>
        <button onclick=@StartGame class="original-button"><div class="text"><i>play_arrow</i>Start!</div></button>
        <button onclick=@(() => Game.Overlay.ShowSettingsModal()) class="original-button smaller-button"><div class="text">Settings</div></button>
        <button onclick=@(() => Log.Info("Shop")) class="original-button smaller-button"><div class="text">Shop</div></button>
        <button onclick=@(() => Game.Close()) class="original-button smaller-button"><div class="text">Exit</div></button>

        
    </div>
    @* <shop></shop> *@
</root>

@code
{

	[Property] public PlayerControllerComponent Player { get; set; }

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	//protected override int BuildHash() => System.HashCode.Combine( MyStringValue );

	void StartGame()
	{
        Scene.Components.Get<GameStateManager>(FindMode.InDescendants).GameState = GameStates.Playing;
		Player.StartMovement();
		GameObject.Destroy();
	}
}
