Powerupbar {
    width: 20%;
    height: 8%;
    flex-direction: row;
    position: absolute;
    bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

    .Icon {
        width: 27%;
        height: 80%;
        background-color: blue;
        justify-content: center;
        align-items: center;
        display: flex;
        position:absolute;
        top:0;
        left:0;
    }

    i {
        color: white;
        font-size: 64px;
    }

    .barBg {
        width: 77%;
        height: 80%;
        background-color: gray;
        padding: 2%;
        position:absolute;
        bottom:0;
        right:0;
    }

    .barFg {
        height: 100%;
        width: 100%;
        background-color: orange;
    }
}
