@using Sandbox.UI;
@inherits Panel
@attribute [StyleSheet]

<root>
    <div class="barBg">
        <div class="barFg" style="width:@(Progress * 100)%"></div>
    </div>
    <div class="Icon"><i>roller_skating</i></div>
</root>
