Shop {
    background-color: grey;
    width: 75%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: black;
    font-family: 'Pixel Operator';
    font-weight:bold;
    font-size:32px;

    .storeEntries {
        position: absolute;
        left: 0;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: blue;
    }

    button {
        width: 20%;
        height: 100%;
    }
}
