{
  "Version": 2,
  "Mixers": {
    "Guid": "e16b6934-704f-47e2-bd81-4b77d2513d41",
    "Name": "Master",
    "Volume": 5,
    "Mute": false,
    "Solo": false,
    "Processors": [],
    "Children": [
      {
        "Guid": "2251e07e-d1cf-4dc5-a7ad-7cf0a6a3a332",
        "Name": "Music",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "fab65bc6-db22-4b09-abef-f29ad8c63f13",
        "Name": "Game",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "IsDefault": true,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "c512476b-ef8e-4fa8-96b8-8f455f37638e",
        "Name": "UI",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Processors": [],
        "Children": []
      }
    ]
  },
  "__guid": "086f1dfe-7bdf-47fc-9534-956c577d5070",
  "__schema": "configdata",
  "__type": "MixerSettings",
  "__version": 2
}